altgraph==0.17.3
auto-py-to-exe==2.34.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.15.1
Eel==0.16.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
pefile==2023.2.7
pip==23.3
pycparser==2.21
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pywin32-ctypes==0.2.0
setuptools==58.1.0
tk==0.1.0
whichcraft==0.6.1
zope.event==4.6
zope.interface==6.0
PyInstaller